<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation_full.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">{{ page.image.credit }}</span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
    <article class="page">
      <h1>{{ page.title }}</h1>
      <div class="article-wrap">
        {% if site.data.speakers.size != 0 %}
        <h3>Plenary Speakers</h3>
        <ul class="rig columns-1">
            {% for member in site.data.speakers %}
                {% if member.type == 'plenary' %}
                    <li class="boxed">
                        {% if member.url %}
                            <a href="{{ member.url }}" target="_blank">
                            {% if member.avatar %}
                                <img class="avatar" src="{{ member.avatar }}" width="190" height="190" />
                            {% endif %}
                            <h3>{{ member.name }}</h3>
                            </a>
                        {% else %}
                            {% if member.avatar %}
                                <img class="avatar" src="{{ member.avatar }}" width="190" height="190" />
                            {% endif %}
                            <h3>{{ member.name }}</h3>
                        {% endif %}
                        <a class='mem-position'>{{ member.position }}</a>
                        {% if member.bio %}
                            <p class='mem-bio'>{{ member.bio }}</p>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <hr />
        <h3>Keynote Speakers</h3>
        <ul class="rig columns-2">
            {% for member in site.data.speakers %}
                {% if member.type == 'keynote' %}
                    <li class="boxed">
                        {% if member.url %}
                            <a href="{{ member.url }}" target="_blank">
                            {% if member.avatar %}
                                <img class="avatar" src="{{ member.avatar }}" width="140" height="140" />
                            {% endif %}
                            <h3>{{ member.name }}</h3>
                            </a>
                        {% else %}
                            {% if member.avatar %}
                                <img class="avatar" src="{{ member.avatar }}" width="140" height="140" />
                            {% endif %}
                            <h3>{{ member.name }}</h3>
                        {% endif %}
                        <a class='mem-position'>{{ member.position }}</a>
                        {% if member.bio %}
                            <p class='mem-bio'>{{ member.bio }}</p>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <hr />
    {% endif %}
    {{ content }}
    </div><!-- /.article-wrap -->
    </article>
</div><!-- /#index -->

{% include _scripts.html %}

</body>
</html>
